body{
    background-color: #ccc;
}
.comentarios {
    background-color: rgb(240, 240, 240);
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 5px;
}
.comentarios p,h5{
    font-weight: bold;
    
}
.comentarios .fecha{
    text-align: right;
}
.title-href{
    text-decoration: none;
    
}
.title-href span{
    font-style: italic;
}
.nuevo{
    background-color: aqua;
}
@keyframes slidein {
    from{
        margin-left: 100% ;
        width: 300%;
    }
    to {
        margin-left: 0%;
        width: 100%;
      }
}
.preview{
    background-color: rgb(246, 240, 240);
    padding: 10px;
    font-weight: bold;
}
/*p[title*="capítulo"]*/
.fecha small{
    padding-left:  15px;
}
#comentariosbyajax{
    padding: 10px;
}
#author-link{
    text-decoration: none;
    color: black;
    font-weight: bold;
}