.comentarios {
    background-color: rgb(240, 240, 240);
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 5px;
}
.comentarios p,h5{
    font-weight: bold;
    
}
.comentarios .fecha{
    text-align: right;
}
