body{
    background-color: #ccc;
}
.comentarios {
    background-color: rgb(240, 240, 240);
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 5px;
}
.comentarios p,h5{
    font-weight: bold;
    
}
.comentarios .fecha{
    text-align: right;
}
.title-href{
    text-decoration: none;
    
}
.title-href span{
    font-style: italic;
}
.nuevo{
    background-color: rgb(73, 114, 161);
    color: white;
}
.preview{
    background-color: rgb(246, 240, 240);
    padding: 10px;
    font-weight: bold;
}